<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label>Presupuesto Total:</ion-label>
      <ion-input [(ngModel)]="budget" type="number" placeholder="Ingresa tu presupuesto"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="saveBudget()">Guardar Presupuesto</ion-button>

    <ion-item>
      <ion-label>Total Gastado:</ion-label>
      <ion-text>{{ totalSpent | currency }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Saldo Disponible:</ion-label>
      <ion-text [color]="availableBalance >= 0 ? 'success' : 'danger'">{{ availableBalance | currency }}</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>
