<ion-card class="ion-padding">
  <ion-card-content>
    <ion-item>
      <ion-label>Presupuesto:</ion-label> 
      <ion-input [(ngModel)]="budget" type="number" placeholder="Ingresa tu presupuesto"></ion-input>
      <ion-button (click)="saveBudget()"><ion-icon size="large" name="save-sharp"></ion-icon></ion-button>
    </ion-item>
    

    <ion-item>
      <ion-label>Total Gastado:</ion-label>
      <ion-text>{{ totalSpent | currency }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Saldo Disponible:</ion-label>
      <ion-text [color]="availableBalance >= 0 ? 'success' : 'danger'">{{ availableBalance | currency }}</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>
