<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="add-expense-content">
  <form (submit)="addExpense()" class="expense-form">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-input 
            [(ngModel)]="expense.description" 
            name="description" 
            required
            placeholder="¿En qué gastaste?">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Monto</ion-label>
          <ion-input 
          [(ngModel)]="expense.amount" 
          type="number" 
          name="amount" 
          required
          min="0"
          step="0.01"
          placeholder="0.00">
        </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Categoría</ion-label>
          <ion-select
            [(ngModel)]="expense.category"
            name="category"
            placeholder="Seleccionar categoría"
            interface="action-sheet">
            <ion-select-option value="Alimentación">Alimentación</ion-select-option>
            <ion-select-option value="Estudios">Estudios</ion-select-option>
            <ion-select-option value="Transporte">Transporte</ion-select-option>
            <ion-select-option value="Vivienda">Vivienda</ion-select-option>
            <ion-select-option value="Ocio">Ocio</ion-select-option>
            <ion-select-option value="Otros">Otros</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha y Hora</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
                [(ngModel)]="expense.date"
                [showDefaultButtons]="true"
                name="datetime" 
                id="datetime"
                locale="es-ES"
                [preferWheel]="true"
                minuteValues="0,15,30,45"
                presentation="date-time"
                cancelText="Cancelar"
                doneText="Aceptar">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" type="submit" class="submit-button">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      {{ isEditing ? 'Actualizar Gasto' : 'Agregar Gasto' }}
    </ion-button>
  </form>
</ion-content>