<ion-header class="main-header">
  <ion-toolbar>
    <ion-title slot="start">Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="main-menu">
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline" class="menu-icon"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menu-id="main-menu" content-id="main-content" class="custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="addBudget()">
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>Presupuesto</ion-label>
      </ion-item>
      <ion-item (click)="goToStats()">
        <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
        <ion-label>Estadísticas</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="home-content">
  <div class="welcome-section">
    <ion-card>
      <ion-card-content>
        <ion-icon name="wallet"></ion-icon>
        <h1>¡Bienvenido!</h1>
        <p>Mantén el control de tus gastos de manera fácil y efectiva</p>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="expenses-section">
    <ion-header class="section-header">
      <ion-toolbar>
        <ion-title slot="start">Lista de Gastos</ion-title> 
        <ion-button (click)="onAddExpense()" slot="end" routerLink="/add-expense" class="add-expense-btn">
          Nuevo gasto
          <ion-icon name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>

    <app-expense-list></app-expense-list>
  </div>
</ion-content>