<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Resumen de gastos</ion-title>
    <ion-button (click)="onAddExpense()" slot="end" routerLink="/add-expense">
      Add expense
      <ion-icon size="large" name="add-circle-sharp"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <app-expense-summary></app-expense-summary>
  </ion-item>
  <ion-header>
  <ion-toolbar>
    <ion-title slot="start">Lista de Gastos</ion-title> 
  </ion-toolbar>
</ion-header>
    <app-expense-list></app-expense-list>
</ion-content>

